<div class="maintenance-page__content">
<h1 class="maintenance-page__title">Discord bot OAuth site is online.</h1>
<p class="maintenance-page__supertext"><%=timestamp%></p>
<div style="display: flex;">
    <a target="_blank" rel="noreferrer" href="https://modding.wiki/en/nexusmods/discord-bot" class="maintenance-page__discord-button">
        <img class="icon" alt="" src="/images/readme.svg"> 
        <span>Documentation</span>
    </a>
    <a target="_blank" rel="noreferrer" href="https://modding.wiki/en/nexusmods/discord-bot" class="maintenance-page__discord-button" style="margin-left: 8px;">
        <img class="icon" alt="" src="/images/github-mark-white.svg"> 
        <span>Source Code</span>
    </a>
</div>
</div>