<!--<script src="/js/script.js"></script>-->
</main>
<footer><svg xmlns="http://www.w3.org/2000/svg" width="135" height="30"><use xlink:href="#nexus-logo"></use></svg><p>Copyright © 2023 Black Tree Gaming Ltd. All rights reserved.</p></footer>
</body>
</html>