<div class="maintenance-page__content">
    <h1 class="maintenance-page__title">Success!</h1>
    <p class="maintenance-page__subtext">
        <a href="discord://discordapp.com/users/<%=discordId%>">@<%=discord%></a> has been successfully linked to <a href="https://nexusmods.com/users/<%=nexusId%>"><%=nexus%></a>.
    </p>
    <div class="maintenance-page__centered-content">
        <img alt="An animated image showing Dutch and Dillon perforaming an epic handshake in the film Predator" src="/images/success4.gif" class="maintenance-page__main-image">        
    </div>
    <p class="maintenance-page__supertext">Use the "Linked Roles" option in servers with the Nexus Mods Discord bot to claim your roles.</p>
    <div class="maintenance-page__centered-content">
        <a target="_blank" rel="noreferrer" href="discord://-/" class="maintenance-page__discord-button">
            <img class="icon" alt="" src="/images/Discord.svg"> 
            <span>Back to Discord</span>
        </a>
    </div>
</div>