<div class="maintenance-page__content">
    <h1 class="maintenance-page__title">Unlink Complete</h1>
    <p class="maintenance-page__subtext">
        Your Discord and Nexus Mods accounts are no longer linked.
    </p>
    <div class="maintenance-page__centered-content">
        <img alt="An animated image of a cowboy toy called Woody saying 'So long partner' the film Toy Story 3" src="/images/unlink.gif" class="maintenance-page__main-image">        
    </div>
    <p class="maintenance-page__supertext">All linked roles will be automatically removed from your account.</p>
    <div class="maintenance-page__centered-content">
        <a target="_blank" rel="noreferrer" href="discord://-/" class="maintenance-page__discord-button">
            <img class="icon" alt="" src="/images/Discord.svg"> 
            <span>Back to Discord</span>
        </a>
    </div>
</div>