<div class="maintenance-page__content">
    <h1 class="maintenance-page__title">Unlinked Failed</h1>
    <p class="maintenance-page__subtext">
        Well, this is unexpected. An error occurred when attempting to remove the link between your accounts. This could be a temporary issue or something caused by your <a target="_blank" href="https://help.nexusmods.com/article/113-troubleshooting-website-issues">browser setup</a>    </p>
    <div class="maintenance-page__centered-content">
        <img alt="A monkey hitting a computer in frustration" src="/images/unlinkerror.gif" class="maintenance-page__main-image">        
    </div>
    <p class="maintenance-page__text" style="text-align:center">
        You can give it another try or report the issue in our <a target="_blank" href="https://discord.gg/nexusmods">Discord Server</a>, including the error details below.
    </p>
    <div class="maintenance-page__centered-content">
        <a rel="noreferrer" href="../revoke" class="maintenance-page__discord-button">
            <img class="icon" alt="" src="/images/retry.svg"> 
            <span>Try again</span>
        </a>
    </div>
    <p class="maintenance-page__supertext">Error details: <pre><%= error %></pre></p>
</div>